"registry" "https://registry.npmmirror.com/" 
"@coral/tui:registry" "http://npm.arnoo.lds/" 
"@formily/core:registry" "http://npm.arnoo.lds/" 
"@formily/form-suite:registry" "http://npm.arnoo.lds/" 
"@formily/tmui:registry" "http://npm.arnoo.lds/" 
"@formily/vue:registry" "http://npm.arnoo.lds/"
