view.c-page.bg-login {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    // background-image: url(/static/image/icon_bg.jpg);
}
view.c-nav-bar.bg-iot {
    background-image: linear-gradient(to right, #5fd7f0, #276bed);    
    height: 88rpx;
}
